.header__image {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*******************************/
/******* Quotes CSS *******/
/*******************************/
.testimonial {
  position: relative;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
  background: linear-gradient(rgba(3, 15, 39, 0.9), rgba(3, 15, 39, 0.9)),
    url(../images/quotes.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 95%;
}

.testimonial .testimonial-slider h3 {
  color: #fdbe33;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.testimonial .testimonial-slider p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 30px;
}
