*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 100vw;
  background: #fafafa !important;
  grid-template-rows:
    [nav-start] min-content [nav-end header-start] min-content [header-end main-start] repeat(
      3,
      min-content
    )
    [main-end footer-start] min-content [footer-end];
}

.navbar {
  grid-row: nav-start/ nav-end;
}

.header {
  grid-row: header-start/ header-end;
}

.main {
  grid-row: main-start/main-end;
  background-color: rgba(191, 191, 191, 0.2);
}

.footer {
  grid-row: footer-start/footer-end;
  background-color: #000;
}

a {
  text-decoration: none;
}

/* 📥📥📥 Button css  */

.btn {
  outline: none;
  border: none;
  padding: 1rem 3rem;
  font-family: inherit;
  color: white;
  background-color: #2acfcf;
  display: inline-block;
  transition: transform 0.2s;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}
.btn:hover {
  cursor: pointer;
  background-color: #7ce4e4;
  transform: translateY(-2px);
}
.btn--round {
  border-radius: 5rem;
}
.btn--rect {
  border-radius: 5px;
}

button {
  font-size: 1.8rem;
}


/* *************************************************** */

/* 🧭🧭🧭 Nav Start */


.navbar {
  display: flex;
  align-items: center;
  margin: 2rem 10rem;
  position: relative;
  
}
.navbar .menu {
  opacity: 0;
}
.navbar label {
  height: 2.5px;
  background-color: #bfbfbf;
  width: 3rem;
  position: absolute;
  display: none;
  top: 2.25rem;
  right: 0;
}
.navbar label::after {
  content: "";
  position: absolute;
  display: block;
  height: 2.5px;
  background-color: inherit;
  width: 3rem;
  top: -1rem;
}
.navbar label::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background-color: inherit;
  width: 3rem;
  top: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .navbar label {
    display: block;
  }
}
@media only screen and (max-width: 37.5em) {
  .navbar {
    margin: 4rem;
    flex-direction: column;
    align-items: stretch;
  }
}


.navbar .site-name {
  font-weight: 700;
  font-size: 5rem;
  display: inline-block;
  margin-right: 6rem;
}
@media only screen and (max-width: 37.5em) {
  .navbar .site-name {
    display: block;
    margin: 0;
  }
}
.navbar .nav {
  flex: 1;
  display: inline-flex;
  justify-content: space-between;
  color: #bfbfbf;
  width: 100%;
}




/* for small screen devices */


@media only screen and (max-width: 37.5em) {
  .navbar .nav {
    display: flex;
    flex-direction: column;
    background-color: #3b3054;
    padding: 2rem;
    color: white;
    font-weight: 700;
    border-radius: 2rem;
    position: absolute;
    z-index: 400;
    top: 7rem;
    opacity: 0;
    transition: all 0.2s;
  }
  .navbar .nav__items .nav__item:last-child {
    padding-bottom: 3rem;
  }
  .navbar .nav__buttons .nav__item:first-child {
    padding-top: 3rem;
    border-top: 1px solid rgba(191, 191, 191, 0.2);
  }
  .navbar .nav .btn {
    display: block;
  }
}
.navbar .nav__items,
.navbar .nav__buttons {
  list-style: none;
  display: inline-block;
  margin: auto 0;
}
.navbar .nav__items .nav__item,
.navbar .nav__buttons .nav__item {
  display: inline;
}
.navbar .nav__items .nav__item:not(:last-child),
.navbar .nav__buttons .nav__item:not(:last-child) {
  margin-right: 3.5rem;
}
@media only screen and (max-width: 37.5em) {
  .navbar .nav__items .nav__item:not(:last-child),
  .navbar .nav__buttons .nav__item:not(:last-child) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .navbar .nav__items .nav__item,
  .navbar .nav__buttons .nav__item {
    display: block;
    text-align: center;
    padding: 2rem;
  }
}
.navbar .nav__items .nav-link:visited,
.navbar .nav__items .nav-link:link,
.navbar .nav__buttons .nav-link:visited,
.navbar .nav__buttons .nav-link:link {
  text-decoration: none;
  color: #BFBFBF;
}
.navbar .nav__items .nav-link:visited:hover,
.navbar .nav__items .nav-link:link:hover,
.navbar .nav__buttons .nav-link:visited:hover,
.navbar .nav__buttons .nav-link:link:hover {
  color: black;
}

.menu:checked ~ .nav {
  opacity: 1;
}


/* Nav end ************************** */

/* Header Start ********************* */

.header {
  display: grid;
  margin-left: 12rem;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 1rem;
  margin-bottom: 15vh;
  margin-top: 1vh;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    grid-row-gap: 4rem;
    margin: 0 0 18vh 0;
  }
}
.header__text-box {
  grid-column: 1/2;
  margin: auto 0;
}
@media only screen and (max-width: 37.5em) {
  .header__text-box {
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
  }
}
.header__text-box h1 {
  font-size: 6rem;
  line-height: 1.25;
}
@media only screen and (max-width: 37.5em) {
  .header__text-box h1 {
    font-size: 3rem;
  }
}
.header__text-box p {
  color: #bfbfbf;
  font-size: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .header__text-box p {
    font-size: 2rem;
  }
}
.header__cta {
  margin: 3rem 0 0 0;
}
.header__image {
  /* padding-left: 10rem; */
  width: 100%;
  
}
@media only screen and (max-width: 37.5em) {
  .header__image {
    grid-row: 1/2;
    padding-left: 0;
    height: auto;
    width: 100%;
  }
}


/* header end ************************ */


/* Link Section Start  🌀🌀🌀🌀🌀🌀🌀🌀🌀🌀🌀*/

.links {
  margin: 0 20rem;
  font-size: 2rem;
  margin-bottom: 25vh;
}
@media only screen and (max-width: 37.5em) {
  .links {
    margin: 0 4rem;
  }
}
.links .link__input-box {
  height: 20vh;
  background-image: url(../images/bg-boost-desktop.svg);
  background-color: #232127;
  background-size: cover;
  border-radius: 1rem;
  margin-top: -12.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}
@media only screen and (max-width: 37.5em) {
  .links .link__input-box {
    height: 18rem;
    flex-direction: column;
    padding: 3rem;
    align-items: stretch;
    margin-top: -18vw;
  }
}
.links .link__input-box .user__link {
  flex: 70%;
  border-radius: 2px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.75rem;
  height: 5rem;
  padding: 2rem;
  margin-right: 4rem;
  position: relative;
  font-family: inherit;
}
@media only screen and (max-width: 37.5em) {
  .links .link__input-box .user__link {
    flex: 0 1 auto;
    margin-right: 0;
    margin-bottom: 3rem;
    padding: 2rem;
  }
}
.links .link__input-box .user__link::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}
.links .link__input-box .user__link-label {
  position: absolute;
  font-size: 1.2rem;
  color: #f46262;
  font-style: italic;
  opacity: 0;
}
.links .link__input-box .invalid-input {
  border: 3px solid #f46262;
}
.links .link__input-box .invalid-input::-webkit-input-placeholder {
  color: rgba(244, 98, 98, 0.5);
}
.links .link__input-box .invalid-msg {
  opacity: 1;
  transform: translateY(4rem);
}
@media only screen and (max-width: 37.5em) {
  .links .link__input-box .invalid-msg {
    transform: translateY(6.5rem);
  }
}
.links .link__input-box .btn {
  height: 5rem;
}
.links .link__output-boxes {
  font-size: 1.6rem;
}
.links .link__output-boxes .link__output-box {
  display: flex;
  background-color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  align-items: center;
  margin-top: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .links .link__output-boxes .link__output-box {
    flex-direction: column;
    align-items: stretch;
    padding: 2.25rem;
    height: 18rem;
    justify-content: space-between;
    position: relative;
  }
}
.links .link__output-boxes .link__output-box .input__link {
  flex: 60%;
  color: #35323e;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .links .link__output-boxes .link__output-box .input__link {
    flex: 0 1 auto;
  }
  .links .link__output-boxes .link__output-box .input__link::after {
    content: "";
    display: block;
    z-index: 78;
    width: 88%;
    height: 1px;
    background-color: #bfbfbf;
    border: none;
    position: absolute;
    top: 5.5rem;
  }
}
.links .link__output-boxes .link__output-box .output__link {
  flex: 25%;
  color: #2acfcf;
}
@media only screen and (max-width: 37.5em) {
  .links .link__output-boxes .link__output-box .output__link {
    flex: 0 1 auto;
  }
}
.links .link__output-boxes .link__output-box .copy-btn {
  display: block;
  width: 14rem;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .links .link__output-boxes .link__output-box .copy-btn {
    width: 100%;
  }
}

/* End  *******************/





/* 🚀🚀🚀 Boost Start */

.boost {
  padding: 6rem 0;
  text-align: center;
  background-image: url(../images/bg-boost-desktop.svg);
  background-color: #3b3054;
  background-size: cover;
  color: white;
}

@media only screen and (max-width: 37.5em) {
  .boost {
    background-image: url(../images/bg-boost-mobile.svg);
  }
}
.boost .heading-secondary {
  margin-bottom: 2.5rem;
}

  /* Boost End  */




/* 🐾🐾🐾🐾  Footer Start ***************** */


.footer {
  color: white;
  display: grid;
  padding: 5rem 20rem;
  grid-template-columns: 35% repeat(4, minmax(min-content, 1fr));
  grid-row-gap: 3rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer > * {
    width: 60%;
    text-align: center;
  }
}

.footer .site__name {
  font-weight: 700;
  font-size: 4rem;
}

.footer .years {
  font-size: 1.3rem;
  font-weight: normal;
}

.footer .headers {
  margin-bottom: 1.5rem;
}

.footer ul {
  list-style: none;
}
.footer ul li {
  margin: 1rem 0;
}
.footer a {
  color: #bfbfbf;
}
.footer a:hover {
  cursor: pointer;
  color: #2acfcf;
}

/* Social media start */

.footer .site__socials {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* social media end */

/* code by start */

.footer .attribution {
  grid-column: 1/-1;
  font-size: 15px;
  text-align: center;
}
.footer .attribution a {
  color: #3e52a3;
  font-size: 1.5rem;
}

/* code by end */

/* Footer end *******************/
